@import '@static/font-awesome-4.5.0/css/font-awesome.css';

.ui-header .wunder-logo{
  width: 71px;
  height: 30px;
  float: left;
  margin-top: 10px;
  margin-right: 40px;
}

.ui-header .wunder-logo i{
  width: 71px;
  height: 30px;
  background-image: url('@static/assets/logo.png');
  background-size: 71px 30px;
  display: inline-block;
}

/*
.color-lists{
	background-color: 		#F7736A!important;
	border-top-color:		#FF4E41!important;
	border-bottom-color:	#FF4E41!important;
}
*/

.ui-input-search{
	margin:	5px;
	width:	calc(100% - 2%);
}

/*
.ui-input-search.active {
	border-color:		#CE7447!important;
}
*/

.addtask {
	margin:5px;
	width:94%;

	position: relative;
    top: 380px; /*380px solo con 1 lista. Hay que restar 30px por cada lista añadida.*/

}

.ui-navgroup-title-txt {
    float: left;
    font-size: 14px;
    font-family: 'Lato';
    color: #868c8e;
}

/*
.ui-checkbox.active{
	background-color: #e8cece;
    box-shadow: 0px 0px 0px 3px #b35e5e;
}
*/

.wl-tasklist {
	margin:	5px;
	width:	98%;
    height: 38px;
    font-size: 16px;
    font-family: 'Lato';
    color: #555;
}

.wl-task{
	border-bottom: solid 1px #EEE;
	padding: 6px 42px;
	position:relative;
	margin: 8px;
	
	
}

.wl-task:hover .wl-taskdelete{
	visibility:visible;
}

.wl-taskdone{
	position: absolute;
	left: 8px;
}

.wl-taskdelete{
	position:absolute;
	right: 5px;
	top: 4px;
	visibility:hidden;
}
.wl-taskdelete i{
	background-image: url('https://static.inevio.com/image/uikit/sprite-white.png');
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	display: inline-block;
	background-position: -32px 0px;
	
}

.taskcomplete{
	text-decoration: line-through;
}

.welcome-page {
    float: left;
    position: absolute;
    z-index: 2;
    background-color: #f7f8fa;
    width: 100%;
    height: ~'calc(100% - 41px)';
    top: 42px;
    display: none;
    opacity: 0;
    animation: welcome-page-in 0.5s forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes welcome-page-in{
    0%{  opacity: 0;}
    100%{ opacity: 1; }
}

.welcome-page .welcome-first{
    float: left;
    color: #545f65;
    font-size: 61px;
    margin-top: 180px;
    font-weight: lighter;
    margin-top: 180px;
    text-align: center;
    width: 100%;
}

.welcome-page i{
  float: left;
  height: 1px;
  width: 500px;
  background-color: #e1e5e7;
  margin-left: ~'calc(50% - 500px/2)';
  margin-bottom: 25px;
  margin-top: 30px;
}

.welcome-page .welcome-second{
  float: left;
  color: #889399;
  font-size: 19px;
  text-align: center;
  width: 100%;
}

.welcome-page .ui-btn.big{
  margin-left: ~'calc(50% - 225px/2)';
  width: 225px;
  margin-top: 90px;
}

.welcome-page .ui-btn.big span{
  max-width: 200px;
}