.ui-header{
  height: 50px;
}

.ui-header-buttons{
  margin-top: 4px;
}

.ui-header .wunder-logo{
  width: 71px;
  height: 30px;
  float: left;
  margin-top: 10px;
  margin-right: 40px;
}

.ui-header .wunder-logo i{
  width: 71px;
  height: 30px;
  background-image: url('@static/assets/logo.png');
  background-size: 71px 30px;
  display: inline-block;
}

.color-lists{
	background-color: 		#F7736A!important;
	border-top-color:		#FF4E41!important;
	border-bottom-color:	#FF4E41!important;
}

.ui-input-search{
	margin:	5px;
	width:	calc(100% - 2%);
}
