@import '@static/font-awesome-4.5.0/css/font-awesome.css';

.ui-header .wunder-logo{
  width: 71px;
  height: 30px;
  float: left;
  margin-top: 10px;
  margin-right: 40px;
}

.ui-header .wunder-logo i{
  width: 71px;
  height: 30px;
  background-image: url('@static/assets/logo.png');
  background-size: 71px 30px;
  display: inline-block;
}

.color-lists{
	background-color: 		#F7736A!important;
	border-top-color:		#FF4E41!important;
	border-bottom-color:	#FF4E41!important;
}

.ui-input-search{
	margin:	5px;
	width:	calc(100% - 2%);
}

.ui-input-search.active {
	border-color:		#CE7447!important;
}

.addtask {
	margin:5px;
	width:94%;

	position: relative;
    top: 382px;

/*
    position:absolute;
    bottom: 0;
*/
}

.ui-navgroup-title-txt {
    float: left;
    font-size: 14px;
    font-family: 'Lato';
    color: #868c8e;
}